@model List<Product>
@{
}

<h2 class="text-center mb-5">List of Products</h2>

<div class="row mb-5">
    <div class="col"> @*1st column*@
        <a class="btn btn-warning" asp-controller="Products" asp-action="Create">New Product</a>
    </div>
    <div class="col"> @*2nd column*@

    </div>
</div>

<table class="table">
    <thead> @*table head*@
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>Created at</th>
            <th>Actions</th> @*create n2 buttons*@
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>Php @product.Price</td>
                <td><img src="/products/@product.ImageFileName" width="100" /></td> @*displaying the product images*@
                <td>@product.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit" 
                        asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete" 
                        asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>